<!DOCTYPE html>
<html>
  <head>
    <title>Gamepad</title>
    <link rel='stylesheet' href='/styles/style.css' />
    <script type="text/javascript">
      var room = "<%= room %>";
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.2/socket.io.min.js"></script>
    <script src="js/index.js"></script>
  </head>
  <body>
    <h1>Gamepad</h1>
    <p>Navigate to: <a href="<%= roomURL %>"><%= roomURL %></a> on your VR device</p>
  </body>
</html>
